* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: 'Lexend Deca', sans-serif
}
/* 
.main_sobre,
.main_historia,
.main_cvv {
    margin: 1rem 0;
} */

.header_container {
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem
}

.header_container .header_logos img {
    width: 6rem
}

.header_container .header_logos #logo_setembroAmarelo {
    width: 3.5rem
}

.menu_mobile {
    cursor: pointer
}

.row {
    width: 1.7rem;
    height: 3px;
    background: #000;
    margin: 5px 0
}

.menu {
    display: none;
    flex-direction: column;

    position: absolute;
    left: 0;
    margin: 1.5rem 0;
    width: 100%;
    background: #F5CB26;
    border-top: 1px solid #111
}

.menu a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #111;
    border-bottom: 1px solid #111;
    transition: all 0.2s linear
}

.menu a:hover {
    background: #111;
    color: #F5CB26
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.main_apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 8rem 4.5rem;
    background: #F5CB26
}
.apresentacao_texto {
    text-align: center
}

.main_apresentacao .apresentacao_texto h1 {
    font-size: 2.5rem;
    text-align: left;
    line-height: 3.3rem
}

.main_apresentacao .apresentacao_texto span {
    background-color: #111;
    color: #F5CB26
}

.main_apresentacao .apresentacao_texto p {
    margin: 1.5rem 0;
    font-size: 0.9rem
}

.main_apresentacao .apresentacao_texto a {
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem .5rem;
    background: #111;
    color: #F5CB26;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem
}

.main_apresentacao .apresentacao_img {
    display: none
}

.main_apresentacao .apresentacao_img img {
    width: 22rem
}

.main_sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%
}

.sobre_professora img,
.palestrante img {
    width: 90px;
    height: 90px;
    border: 3px solid #111;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.sobre_professora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    text-align: center;
    width: 100%
}

.sobre_professora h3 {
    margin: 10px 0
}

.sobre_professora span {
    font-size: 14px
}

.sobre_professora_texto {
    /* font-size: 14px; */
    text-align: justify
}

.main_palestra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background: #F5CB26;
    width: 100%;
    text-align: center
}

.palestrante img {
    margin-bottom: 1rem
}

.main_palestra h2 {
    margin: 10px 0
}

.palestra_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5rem
}

.palestrante {
    margin: 1rem 0
}


.main_historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%
}

.main_historia p{
    margin: 1.5rem 0;
    text-align: left;
    font-size: 0.9rem
}

.main_historia img{
    width: 12rem;
    margin: 1rem 0
}

.main_depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    background: #F5CB26;
    width: 100%
}

.main_depoimentos h2 {
    color: #111
}

.card_depoimento {
    margin: 1.5rem 0;
    padding: 1.5rem;
    background: #FFF;
    color: #111;
    border-radius: 1rem;
    width: 100%
}

.card_depoimento p {
    font-size: .8rem;
    margin-top: 1rem
} 

.main_cvv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    width: 100%;
}

.main_cvv p {
    margin: 2rem 0;
    font-size: 0.9rem;
    text-align: justify
}

.main_cvv_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem
}

.main_cvv_button {
    display: flex;
    align-items: center;
    background-color: #F5CB26;
    color: #111;
    font-weight: bold;
    text-decoration: none;
    width: 17rem;
    padding: .5rem;
    border-radius: 5px;
    gap: 1rem
}

.main_cvv_button img {
    width: 3rem
}

footer {
    text-align: center;
    margin: 2rem 2rem 1rem;
    font-size: .9rem
}

.footer_p2 {
    font-size: .7rem
}


@media (min-width: 700px) {
    /* html {
        font-size: 18px;
    } */

    .main_apresentacao {
        flex-direction: row;
        gap: 15%
    }

    .main_apresentacao .apresentacao_img {
        display: inline
    }

    .sobre_professora,
    .palestrante {
        flex-direction: row;
        gap: 5rem;
    }

    .sobre_professora img,
    .palestrante img {
        width: 150px;
        height: 150px   
    }

    .sobre_professora_texto  {
        /* padding: 2rem; */
    }

    .main_cvv p {
        /* font-size: 1rem; */
    }

}
