* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
} 

html {
    scroll-behavior: smooth
}

body {
    font-family: 'Lexend Deca', sans-serif
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem
}

.header_container .header_logos  img {
    width: 6rem
}

.header_container .header_logos #logo_setembroAmarelo {
    width: 3.5rem
}

.row {
    width: 1.7rem;
    height: 3px;
    background: #000;
    margin: 5px 0
}

.menu {
    display: none;
    flex-direction: column;

    position: absolute;
    left: 0;
    margin: 1.5rem 0;
    width: 100%;
    background: #F5CB26;
    border-top: 1px solid #111
}

.menu a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #111;
    border-bottom: 1px solid #111;
    transition: all 0.2s linear
}

.menu a:hover {
    background: #111;
    color: #F5CB26
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.main_apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4.5rem;
    background: #F5CB26
}

.main_apresentacao h1 {
    font-size: 2.5rem;
    line-height: 3.3rem
}

.main_apresentacao span {
    background-color: #111;
    color: #F5CB26
}

.main_apresentacao p {
    margin: 1.5rem 0;
    font-size: 0.9rem
}

.main_apresentacao a {
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem .5rem;
    background: #111;
    color: #F5CB26;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem
}

.main_depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem
}

.card_depoimento {
    margin: 1.5rem 0;
    padding: 1.5rem;
    background: #F5CB26;
    border-radius: 1rem;
    width: 100%
}

.card_depoimento p {
    font-size: .9rem;
    margin-top: 1rem
}